__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.env
.egg-info/
*.egg
.DS_Store
.ipynb_checkpoints/
mlruns/
artifacts/
reports/**/*.png
reports/**/*.html
models/*.joblib
